<div class="container">
    <h2>Job Portal</h2>
    <form class="form-horizontal">
        <div class="form-group">
   <label class="control-label " for="usr"> Username:</label> <input class="form-control" type="text" id="username" ng-model="user.username">  <br>
</div>    
<div class="form-group">
   <label class="control-label " for="pwd"> Password:</label> <input class="form-control" type="password" id="password" ng-model="user.password">  <br>
</div>
   <button class="btn btn-default" type="button" data-ng-click="submit(user)">Login</button>
   <button class="btn btn-default" type="button" ng-click=" signup()">SignUp</button>

</form>

 </div>